body{font-family: 'Poppins', sans-serif;
     font-family: 'Rubik', sans-serif;
     margin:0 auto;}

.topbanner{
     background-image: url(photo/donation13.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 600px;
     padding-top: 5px;
     margin: auto 0;}
.topbanner span{
     color: orange;}
.topbanner h1{
     text-align: center;
     font-size: 70px;
    color: rgb(228, 173, 71);
     margin-top: 10%;}   
.topbanner p{
     text-align: center;
     color: rgb(243, 247, 241);
     margin: 5%;
     font-size: 20px;}
.button{
     font-size: 25px;}
.top-button{
     text-align: center;
     margin-left: 45%;
     padding: 15px 32px;
     text-decoration: none;
     color: white;
     background-color: green;
     border: none;
     border-radius: 10px;
     font-size: large;}
     
     /* 2nd part */


.center-div{
     text-align: center;
     width: 100%;
     margin-top: 10%;
     height: 100%;}
.center-span{
     box-shadow: 10px 10px 10px gray;
     padding: 15px 15px;
     background-color: antiquewhite;
     border-radius: 10px;
     margin: 15px;
     color: gray;}
.towhoundred{
     background-color: rgb(245, 179, 179);
     color: rgb(237, 70, 70);
     border: 2px solid salmon;}
.center-div h3{
     border-bottom: 1px solid rgb(205, 202, 202);
     margin-left: 450px;
     text-align: center;
     margin-right: 450px;
     padding-top: 5%;
     color:rgb(205, 202, 202);
     font-size: 15px;
     padding-bottom: 1%;}
.center-div h1{
     margin-top: 5%;}
.center-button{
     color:aliceblue;
     background-image: linear-gradient(rgb(99, 207, 99),green);
     border: none;
     font-size: 20px;
     padding: 10px 20px;
     border-radius: 10px;
     margin-top: 5%;
     margin-bottom: 2%;}
/* 3rd part */


.middel-div{display: flex;
     width: 100%;
     padding-top: 5%;}
.middel-section{
     margin: 2% 2%;
     text-align: center;}
.middel-h1{
     font-size: 60px;
     font-weight: bold;
     color: rgba(66, 62, 62, 0.69);}
.middel-section p{
     margin: 0 20%;}
.middel-divv{    
     box-shadow: 20px 20px 40px gray;
     padding-top: 20px;
     background: cornsilk;
     margin-right: 20px;
     border-radius: 15px;}
.middel-divvv{
     box-shadow: 20px 20px 40px gray;
     padding-top: 20px;
     margin-right: 20px;
     background-color: azure;
     margin-left: 15px;
     border-radius: 15px;}
.middel-divvvv{
     box-shadow: 20px 20px 40px gray;
     padding-top: 20px;
     background-color: bisque;
     margin-left: 20px;
     padding-bottom: 15px;
     border-radius: 15px;}
.middel-div p{
     font-size: 19px;
     font-weight: 500;
     text-align: center;
     color: gray;}

     /* 4th part */


.bottom-section{
     width: 100%;
     padding-top: 10%;}
.flexe{
      display: flex;}
.half_with{
     text-align:justify;        
     width: 50%;
     margin-left: 7%;
     margin-bottom: 7%;}
.half_with h1{
     font-size: 70px;}
.half_with p
     {font-size: 20px;
     padding-top: 5%;}
.half_with ul{color: rgb(139, 116, 116);
     font-size: 20px;}
.half_with img{
     width: 90%;
     border-radius: 5px;}
.cover{background-size:cover ;
     margin-left: 95px;}     

     /* 5th part */

.bottom-next{
     text-align: center;}
.bottom-next h1{
     font-size: 60px;}
.bottom-next p{text-align: center;
     margin: 5% 10%;}
.bottom-next form {
     padding: 5% 10%;
     background-color: rgb(211, 238, 238);
     margin-bottom: 5%;
     margin-left: 15%;
     margin-right: 15%;
     border-radius: 10px;
     box-shadow: 20px 20px 20px gray;}
#email{
     padding:2% 5%;
     border-radius: 10px;
     font-weight: bold;
     border: none;
     color: rgb(48, 81, 110);}
.email{
     background-color: tomato;}

/* 6th part  */

.footer-end{
     text-align: center;
     padding:10px 0;
     border-radius: 10px;
     background-color: rgb(161, 241, 215);}
.footer-end h1{color: tomato;
     font-family: 'Lobster', cursive;}




